<section class="w-full min-h-[500px] bg-gradient-to-l from-cupcacke-4 to-cupcacke-5 flex items-center justify-center py-20 sm:py-0">
  <article class="w-4/5 flex flex-col items-center justify-center gap-10">
    <h2 class="text-2xl font-medium">¿Quién Soy?</h2>
    <p class="w-4/5 text-center">
      Mi nombre es <b>Heriberto Abraham Alonso Meléndez</b>. Soy originario del
      estado de Puebla y estudié <b>Ingenieria en Ciencias de la Computación</b>
      en la Benemérita Universidad Autónoma de Puebla.
    </p>
    <p class="w-4/5 text-center">
      Mis areas de interés están orientadas al desarrollo de aplicaciones web.
      Aunque gran parte de mi experiencia está enfocada al <b>Desarrollo Frontend</b>,
      también tengo un gran interés por el <b>Desarrollo Backend</b>. Además del
      desarrollo de aplicaciones web, estoy muy interesado en el Área del
      Tratamiento de la Información.
    </p>
  </article>
</section>
