<section class="w-full h-screen">
  <h2>Experiencia</h2>
  <ul>
    <li>
      <h3>Projecter</h3>
      <span>Mayo 2023 - Actualidad: Lider de Proyecto Jr.</span>
      <ul>
        <li>Levantamiento de Requerimientos</li>
        <li>Diseño UX/UI con Figma</li>
        <li>Desarrollo Frontend de aplicaciones web con NextJs 13 y 14, estilización con TailwindCSS y MUI</li>
        <li>Desarrollo Backend con uso de NextJS 14 para conexiones a bases de datos con Prisma, pasarelas de
          pago
          y autenticación de usuarios con NextAuth</li>
      </ul>
    </li>
    <li>
      <h3>Facultad de Diseño Gráfico BUAP - EDO</h3>
      <span>Mayo 2022 - Marzo 2023: Desarrollador de contenido web interactivo.</span>
      <ul>
        <li>Migración de contenido Flash a HTML5 con uso de Adobe Animate, EaselJS, TweenJS, SoundJS y
          PreloadJS.
        </li>
      </ul>
    </li>
    <li>
      <h3>Nah Technology</h3>
      <span>Junio 2019 - Agosto 2019: Programador en C.</span>
      <span>Diciembre 2019 - Agosto 2020: Programador Java.</span>
      <ul>
        <li>Uso de listas ligadas en C para manejar datos municipales de la República Mexicana.</li>
        <li>Generación de PDF en Java para aplicación web relacionada a la enseñanza de inglés</li>
      </ul>
    </li>
  </ul>
</section>