<div class="w-full h-screen flex flex-col relative px-10 sm:px-0" id="presentation">
  <section class="w-full flex-1 flex items-center justify-center flex-col gap-5 bg-code bg-cover">
    <h1 class="text-5xl font-semibold text-center">Heriberto Alonso</h1>
    <h2 class="text-center">Ingeniero en Ciencias de la Computación</h2>
  </section>
</div>
