<!-- <header
  class="w-4/5 fixed h-[80px] px-6 bg-cupcacke-4 flex items-center justify-between rounded-b-2xl"
> -->
<header
  class="w-4/5 fixed h-[80px] px-6 bg-gradient-to-r from-cupcacke-3 to-cupcacke-4 flex items-center justify-between rounded-b-2xl z-10"
>
  <section class="font-bold">
    <a href="/">Inicio</a>
  </section>
  <!-- <nav>
    <ul>
      <li class="inline hover:scale-105 mr-5">
        <a href="#experience">Experiencia</a>
      </li>
      <li class="inline hover:scale-105 mr-5">
        <a href="#projects" >Proyectos</a>
      </li>
      <li class="inline hover:scale-105">
        <a href="#contact">Contacto</a>
      </li>
    </ul>
  </nav> -->
</header>
