---
interface Props {
  id: number;
  title: string;
  image: string;
  description: string;
}

const { title, image, description, id } = Astro.props;
---

<a
  href={`/${id}`}
  class="rounded-lg border shadow-md bg-cupcacke-4 border-gray-700 hover:scale-105
    hover:bg-gray-700 hover:border-gray-500 transition flex"
>
  <picture class="w-auto h-full ">
    <img src={image} alt="project image" class="w-20 rounded-l-lg" />
  </picture>
  <span class="flex-1 flex flex-col items-center justify-center gap-2">
    <p class="text-lg font-medium text-center">{title}</p>
    <p class="text-sm text-center">{description}</p>
  </span>
</a>
